.mainIndex {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;  
    width: 70%;   
        
}



.indexProducts {
    display: flex;
    flex-direction: column;  
    background-color:#dfa10c;       
    gap: 50px;
       
}

.mainIndexProduct {
    padding: 5%;
}

.mainIndex h2 {
    background-color: #dfa10c;
    width: 100%;
    text-align: center;
    padding-top: 4%; 
}


.product, .productRow {
    display: flex;    
    text-align: center; 
    justify-content: center;      
    align-items: center;
    gap: 5%;
    margin-bottom: 2%;
}

.productRow {
    flex-direction: row-reverse;
}

.product a img, .productRow a img {
    width: 70%;
    border-radius: 10px;
    border: black 1px solid;
    box-shadow: 10px 5px 20px #323137;    
}

.product p {
    width: 40%;
    font-size: 80%;
}

.productRow p {
    width: 40%;
    font-size: 80%;
}

.indexClients {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;  
    background-color:#dfa10c; 
    width: 100%;
     
}

.client {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: #88932a;
    width: 300px;
    border-radius: 40px;
    height: 350px;
    align-items: center;
    margin: 2%;
    transition: .3s;
    
    
}

.client:hover {
    width: 305px;
    height: 355 px;
    transition: .3s;
    box-shadow: 10px 10px 20px #323137;
}
.client h3 {
    margin-top: 20px;
}

.client p {
    font-size: 60%;
    width: 70%;
    
}

.client img {
    width: 13%;
    
    
}
.clientCalification {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 5%;
    margin-bottom: 10%;
    
}

@media screen and (max-width: 480px) {
    .product p {
        width: 100%;
        font-size: 27%;
    }
    .productRow p {
        width: 100%;
        font-size: 27%;
    }
    .client  {
        width: 150px;
        height: 200px;
    }
    .client h3 {
        font-size: 70%
    }
    .client p {
        font-size: 30%;
        font-weight: 350;
    }
    .mainIndex {
       margin-bottom: 0%;
    }
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    .productRow p {
        width: 100%;
        font-size: 40%;
    }

    .product p {
        width: 100%;
        font-size: 40%;
    }
    .productRow {
        margin-left: 5%;
        font-size: 30%;
    }

    .client  {
        width: 150px;
        height: 200px;
    }
    .client h3 {
        font-size: 70%
    }
    .client p {
        font-size: 30%;
        font-weight: 350;
    }
}