.ofertsMain {
    background-color: #dfa10c;
    width: 70%;
    display: grid;
    grid-template-areas: 
        "tittle tittle tittle tittle"
        "monday monday tuesday tuesday"
        "wednesday wednesday thursday thursday"
        "friday friday saturday saturday"
        "sunday sunday sunday sunday";
        justify-items: center;
    grid-template-columns: repeat(4, 1.0fr); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 5%;
    height: auto;
}

.ofertsMainTittle {
    grid-area: tittle;
}

section h3 {
   text-decoration: underline;
}
section p {
   text-align: center;
   font-weight: 700;
   width: 70%;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #88932a;
   width: 40%;
   height: 300px;
   border-radius: 30px;
   gap: 20px;
   grid-area: monday;
   box-shadow: 10px 10px 20px #323137;
}
.offertImg {
   width: 60%;
}

.tuesday {
    grid-area: tuesday; 
}



.wednesday {
    grid-area: wednesday; 
}

.thursday {
    grid-area: thursday;
}

.friday {
    grid-area: friday; 
}

.saturday {
    grid-area: saturday;    
}


.sunday {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #88932a;
   width: 20%;
   height: 300px;
   border-radius: 30px;
   gap: 10%;
   box-shadow: 10px 10px 20px #323137;
   grid-area: sunday; 
}
.sunday img {
   width: 50%;
}

@media screen and (max-width: 480px) {
    .ofertsMain {grid-template-areas:
        "tittle" "monday" "tuesday" "wednesday" "thursday" "friday" "saturday" "sunday"    
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    height: 270vh;
    }

    section p {
        font-size: 0.80rem;
     }


    .monday, .tuesday, .wednesday, .thursday, .friday, .saturday {
    
        background-color: #88932a;
        width: 70%;
        height: 200px;
        border-radius: 30px;
        gap: 5px;
        grid-area: monday;
        box-shadow: 10px 10px 20px #323137;
    }
    .monday {
        grid-area: monday; 
    }

    .tuesday {
        grid-area: tuesday; 
    }
    
    
    
    .wednesday {
        grid-area: wednesday; 
    }
    
    .thursday {
        grid-area: thursday;
    }
    
    .friday {
        grid-area: friday; 
    }
    
    .saturday {
        grid-area: saturday;    
    }
    .sunday {
        grid-area: sunday;  
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #88932a;
        width: 70%;
        height: 200px;
        border-radius: 30px;
        gap: 3%;
        box-shadow: 10px 10px 20px #323137;
    }
    .sunday img {
        width: 30%;
     }
    
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    .ofertsMain {grid-template-areas:
        "tittle" "monday" "tuesday" "wednesday" "thursday" "friday" "saturday" "sunday"    
    ;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 0.1fr);
    height: 320vh;
    }

    section p {
        font-size: 0.80rem;
     }
    .monday, .tuesday, .wednesday, .thursday, .friday, .saturday {
        background-color: #88932a;
        width: 70%;
        height: 250px;
        border-radius: 30px;
        gap: 5px;
        grid-area: monday;
        box-shadow: 10px 10px 20px #323137;
    }

    .monday {
        grid-area: monday; 
    }

    .tuesday {
        grid-area: tuesday; 
    }
    
    
    
    .wednesday {
        grid-area: wednesday; 
    }
    
    .thursday {
        grid-area: thursday;
    }
    
    .friday {
        grid-area: friday; 
    }
    
    .saturday {
        grid-area: saturday;    
    }

    .sunday {
        grid-area: sunday;  
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #88932a;
        width: 70%;
        height: 200px;
        border-radius: 30px;
        gap: 3%;
        
    }
    .sunday img {
        width: 30%;
     }

}

@media screen and (min-width: 770px) and (max-width: 1200px) {
    .monday, .tuesday, .wednesday, .thursday, .friday, .saturday {
        width: 80%;
        
    }

    .sunday {
       
        
        width: 40%;       
        border-radius: 30px;
        gap: 3%;
        
    }
}
